div(class="row")
    div( class="col-sm-12 col-lg-6")
        div(class="form-group")
            label(for="email") Emailadres:
            input(type="text" class="form-control" name="email" value=userInfo.email disabled)
        div(class="form-group")
            label(for="birth_date") Geboortedatum: 
            input(type="date" class="form-control" name="birth_date" value=userInfo.birth_date disabled)
        div(class="form-group")
            label(for="address") adres:
            input(type="text" class="form-control" name="address" value=userInfo.address disabled)
        div(class="form-group")
            label(for="zip") Postcode
            input(type="text" class="form-control" name="zip" value=userInfo.zip disabled)
        div(class="form-group")
            label(for="place") Woonplaats
            input(type="text" class="form-control" name="place" value=userInfo.place disabled)
                                
    div( class="col-sm-12 col-lg-6")
        div(class="form-group")
            label(for="function") Functie: 
            input(type="text" class="form-control" name="function" value=userInfo.function disabled)
        div(class="form-group")
            label(for="contract_hours") Contract uren:
            input(type="text" class="form-control" name="contract_hours" value=userInfo.contract_hours disabled)
        div(class="form-group")
            label(for="employed_since") In dienst sinds: 
            input(type="date" class="form-control" name="employed_since" value=userInfo.employed_since disabled)
        div(class="form-group")
            label(for="phone_number") Telefoonnummer: 
            input(type="text" class="form-control" name="phone_number" value=userInfo.phone_number disabled)