extends ../layout

block content
    div(class="table-responsive")
        table(class="table table-hover table-sm")
            thead(class="thead-tertiary")
                tr
                    th(scope="col") Naam
                    th(scope="col") Functie 
                    if(userInfo.role != "USER") 
                        th(scope="col") Email
                        th(scope="col") Uren
                        th(scope="col") Geboortedatum
                        if(userInfo.role == "OWNER")
                            th(scope="col") Rechten
                        th(scope="col") Profiel
                        th(scope="col")  
            tbody
                each user in users 
                    if (!user.active && userInfo.role != "USER") || user.active 
                        - var activeStyle = (user.active ? ' ' : 'color:gray; text-decoration: line-through;')
                        - var changeTrToLoading = "changeTrToLoading(" + user.id + ")";
                        tr(id="list-item-"+user.id )
                            th(scope="col" style=activeStyle) #{user.firstname} #{user.middlename} #{user.lastname}
                            th(scope="col" style=activeStyle) #{user.function}
                            if(userInfo.role != "USER") 
                                th(scope="col" style=activeStyle) #{user.email}
                                th(scope="col" style=activeStyle) #{user.contract_hours}
                                th(scope="col" style=activeStyle) #{user.birth_date}
                                if(userInfo.role == "OWNER")                                    
                                    th(scope="col" style=activeStyle) #{user.role}
                                th(scope="col")
                                    if((user.role == "OWNER") || (userInfo.role == "MANAGER" && user.role == "MANAGER"))
                                        button(type="button" class="btn btn-warning btn-sm" disabled) Aanpassen
                                    else
                                        a( href="user/edit/"+user.id)
                                            button(type="button" class="btn btn-warning btn-sm") Aanpassen
                                if user.active 
                                    if !((userInfo.id == user.id) || (user.role == "OWNER") || (userInfo.role == "MANAGER" && user.role == "MANAGER"))
                                        th(scope="col") 
                                            button(type="button" class="btn btn-danger btn-sm btn-deactivate-user" id=user.id ) Account deactiveren 
                                    else
                                        th(scope="col") 
                                            button(type="button" class="btn btn-success btn-sm" disabled) Account actief  
                                else                                             
                                    if !((userInfo.id == user.id) || (user.role == "OWNER") || (userInfo.role == "MANAGER" && user.role == "MANAGER"))
                                        th(scope="col") 
                                            button(type="button" class="btn btn-success btn-sm btn-activate-user" id=""+user.id  ) Account activeren 

                                    else
                                        th(scope="col") 
                                            button(type="button" class="btn btn-danger btn-sm" disabled) Account inactief   
                                            

        
        if(userInfo.role != "USER") 
            a(  href="/usermanagement/create") 
                button(type="button" class="float-right btn btn-primary btn-sm" ) Aanmaken
                

    script.
        document.onreadystatechange = function () {
            if (document.readyState === "complete") {

                $('.btn-deactivate-user').bind('click', function (e) {
                    handleRequest(this.id, "deactivate");
                    changeTrToLoading(this.id);
                });  
                $('.btn-activate-user').bind('click', function (e) {
                    handleRequest(this.id, "activate");
                    changeTrToLoading(this.id);
                });  

            function handleRequest(id,type) {
                    $.post("/usermanagement/user/"+type+"/", { id: id}, function (result) {
                        location.reload();
                    });
                  };
                 function changeTrToLoading(id){ 
                    $('#list-item-'+id).html('<th colspan="10"><div class="d-flex justify-content-center"><div class="spinner-border" role="status"><span class="sr-only">Loading...</span></div></div></th>');

                }
            }
        }