extends layout

block content
    div(class="card shadow") 
        div(class="table-responsive ")  
                table(class="table table-sm")
                    thead(class="thead-tertiary")
                        tr
                            th(class="col-xs-1" scope="col") Medewerker 
                            th(class="col-xs-1" scope="col") Datum 
                            th(class="col-xs-1" scope="col") Reden 
                    tbody
                        if(sickdays.length > 0)
                            each info in sickdays 
                                tr 
                                    - day = new Date(info.date).getDate();
                                    - month = new Date(info.date).getMonth();
                                    - year = new Date(info.date).getFullYear();
                                    - date = day + "-"  + month + "-" + year;
                                    td #{info.user.getFullName()}
                                    td #{date} 
                                    td #{info.reason} 
    br
    div(class="container")
        div(class="row")
            div(class="col")
            div(class="col")
                nav(aria-label="...")
                    ul(class="pagination")
                        li(class=page==1?"page-item disabled":"page-item" )                        
                            - var pageB = page==1?1:page-1 ;
                            a(class="page-link" href="/call-in-sick/list/"+pageB tabindex="-1" aria-disabled=""+page==1?"true":"false" ) Previous
                        - var i = 1
                        while i < maxPages + 1
                            - var pageLink = "/call-in-sick/list/"+i;
                            if i === page
                                li(class="page-item active" aria-current="page")
                                    a(class="page-link" href=pageLink ) #{i}
                            else
                                li(class="page-item")   
                                    a(class="page-link" href=pageLink ) #{i} 
                            - i = i + 1;
                        li(class=page==maxPages?"page-item disabled":"page-item")
                            - var pageF = page==maxPages?maxPages:page+1 ; 
                            a(class="page-link" href="/call-in-sick/list/"+pageF aria-disabled=""+page==maxPages?"true":"false" ) Next
            div(class="col")