extends layout

block content
    div(class="row no-gutter")
        div( class="col-sm-12 col-md-6 col-lg-4")
            div(class="card shadow dashboard-timetable")
                div(class="card-header bg-tertiary")
                    h3 Rooster
                        i(class="fa fa-bell" style="position: absolute;right: 28px;top: 16px;")
                div(class="card-body")
                    each day in timetable_days
                        //div(class="" data-toggle="popover" data-trigger="click" data-placement="right")

                        //div( class="row no-gutter timetable-item" role="button" data-toggle="popover" data-trigger="click" data-placement="right"  title="Opties"  data-html='true'  data-content=popovercontent data-template='<div class="popover" role="tooltip"><div class="arrow"></div><h3 class="popover-header"></h3><div class="popover-body"></div></div>')
                        div( class="row no-gutter timetable-item" id="")    
                            div( class="col-sm-12")
                                case day.day_count
                                    when 0
                                        h4 Vandaag
                                    when 1
                                        h4 Morgen
                                    when 2
                                        h4 Overmorgen
                                    default
                                        h4 #{day.day_name}
                                if day.day_items.length > 0
                                    each rooster_item in day.day_items
                                        p #{rooster_item.begin_time} - #{rooster_item.end_time}
                                else
                                    p Je bent niet ingeroosterd.
        div( class="col-sm-12 col-md-6 col-lg-5")
            div(class="card shadow dashboard-timetable")
                div(class="card-header bg-tertiary")
                    h3 Notificaties 
                        i(class="fa fa-bell" style="position: absolute;right: 28px;top: 16px;")
                div(class="card-body")
        button#popbutton.btn.btn-lg.btn-warn pop up
        div( class="col-sm-12 col-md-6 col-lg-3")
            div(class="card shadow dashboard-timetable")
                div(class="card-header bg-tertiary")
                    h3 Nieuwste medewerkers
                        i(class="fa fa-bell" style="position: absolute;right: 28px;top: 16px;")
                div(class="card-body")
    br
    div(class="row")
        div( class="col-sm-12")
            div(class="card shadow dashboard-timetable")
                div(class="card-header bg-tertiary")
                    h3 Widget editor
                div(class="card-body")

    if log_in_redirect !== undefined
        div(class="greeting-message js--greeting-message hidden")
            div(class="alert alert-success")
                p Goedendag #{userInfo.firstname} #{userInfo.middlename} #{userInfo.lastname}!
            script.
                    setTimeout(function(){ document.querySelector('.js--greeting-message').classList.remove('hidden') }, 60);
                    setTimeout(function(){ document.querySelector('.js--greeting-message').classList.add('hidden') }, 4000);
            
    script.
            document.onreadystatechange = function () {
                if (document.readyState === "complete") {  
                    $(function () {
                        var popupElement = '<div class="btn-group btn-toggle"><button class="btn btn-sm btn-info">On</button><button class="btn btn-sm btn-primary active">Off</button></div>';
                       
                        $('#popbutton').popover({
                        animation: true,
                        content: popupElement,
                        html: true
                        });

                        $('body').on('click','.btn-toggle',function () {
                            $(this).find('.btn').toggleClass('active');

                            if ($(this).find('.btn-primary').length > 0) {
                                $(this).find('.btn').toggleClass('btn-primary');
                            }
                            if ($(this).find('.btn-danger').length > 0) {
                                $(this).find('.btn').toggleClass('btn-danger');
                            }
                            if ($(this).find('.btn-success').length > 0) {
                                $(this).find('.btn').toggleClass('btn-success');
                            }
                            if ($(this).find('.btn-info').length > 0) {
                                $(this).find('.btn').toggleClass('btn-info');
                            }

                            $(this).find('.btn').toggleClass('btn-default');
                        });

                    });
                 }
              }
           