html
    head
        link(rel='manifest', href='/manifest.json')
        link(rel="shortcut icon", href="/images/favicon.ico", type="image/x-icon")

        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")

        link(rel='stylesheet', href='/stylesheets/style.css')

        script(src='/service-worker-register.js')

    body
        header(class="container-fluid bg-primary") 
            div(class="row") 
                div(class="col-sm-12 col-md-4 col-lg-3") 
                    a.navbar-brand(href='/')  
                        h1 TimePlanner
        main(class="container")
            br
            div(class="card shadow dashboard-timetable")
                div(class="card-header bg-secondary")
                    h2 #{title}
                div(class="card-body")
                    div(class="alert alert-info")
                        p
                            | Let op!
                        p
                            | Door dat de weergaven offline is kan het zijn dat er wijzigingen in het rooster zijn aangebracht. 

                    div(class="card shadow")
                        div(class="card-header bg-secondary")
                            h2 Persoonlijk rooster
                        div(class="card-body" id="roosterdiv")
                            each day in timetable_days
                                div(class="row no-gutter timetable-item js--timetable-item" data-timetable-id=day.id data-daycount=day.day_count  data-toggle="popover" data-trigger=day.day_items.length > 0 ? "click" : "" data-placement="right" data-html='true' data-content=popovercontent)    
                                    div( class="col-sm-12")
                                        case day.day_count
                                            when 0
                                                h4 Vandaag
                                            when 1
                                                h4 Morgen
                                            when 2
                                                h4 Overmorgen
                                            default
                                                h4 #{day.day_name}
                                        if day.day_items.length > 0
                                            each rooster_item in day.day_items
                                                p #{rooster_item.begin_time} - #{rooster_item.end_time}
                                        else
                                            p Je bent niet ingeroosterd. 

                    div(class="card shadow")
                        div(class="card-header bg-secondary")
                            h2 Medewerkers rooster
                        div(class="card-body")
                            div(class="alert alert-info")
                                p
                                    | Let op!
                                p
                                    | Door dat de weergaven offline is kan het zijn dat er wijzigingen in het rooster zijn aangebracht. 
