extends layout

block content
    br
     
    div(class="card")
        div(class="card-header")
            h2 #{title}
        div(class="card-body") 
            table(class="table table-hover")
                thead(class="thead-dark")
                    tr
                        th(scope="col") Naam
                        th(scope="col") Functie
                        th(scope="col") Fulltime
                        th(scope="col") Email
                        th(scope="col") Uren
                        th(scope="col") Geboortedatum
                        th(scope="col") Rechten
                        th(scope="col") Profiel
                        th(scope="col")  
                tbody
                    each user in users
                        tr
                            th(scope="col") #{user.name}
                            th(scope="col") #{user.function}
                            th(scope="col") #{user.fulltime}
                            th(scope="col") #{user.email}
                            th(scope="col") #{user.hours}
                            th(scope="col") #{user.dob}
                            th(scope="col") #{user.rights}
                            th(scope="col")
                                a(href="user/edit/"+user.id) Aanpassen
                            th(scope="col") 
                                a(href="user/delete/"+user.id) Verwijder 