extends ../layout

block content

    head
        meta(charset='utf-8')
        link(href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.css' rel='stylesheet')
        link(href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.css' rel='stylesheet')
        link(href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/timegrid/main.css' rel='stylesheet')

        script(src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/timegrid/main.js')

        script.
            document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: [ 'timeGrid' ],
                defaultView: 'timeGridWeek',
                allDaySlot: false,
                events: !{timeTable}
            });

            calendar.render();
            });

    if success !== undefined && success === true
        p(class="alert alert-success").
            | De gebruiker is succesvol ingeroosterd!
    else if success === false
        p(class="alert alert-danger")
            | Begintijd mag niet later zijn dan eindtijd!
    form(class="form" method="POST")
        div(class="input-group")
            label Gebruiker 
                select(class="form-control" name="user")
                    each user in user_list
                        option(value=user.id) #{user.firstname} #{user.lastname}
        div(class="input-group")
            label Begin datum en tijd
                input(class="form-control" type="datetime-local" name="begin_date" value=fields!==undefined?fields.begin_date:"")
        div(class="input-group")
            label Eind datum en tijd
                input(class="form-control" type="datetime-local" name="end_date")
        div(class="input-group")
            label Commentaar
                textarea(class="form-control" name="comment")
        div(class="input-group")
            div(class="col custom-control custom-switch") 
                input(type="checkbox" class="custom-control-input " name="stay_on_page" id="stay_on_page" checked)                    
                label(class="custom-control-label" for="stay_on_page") Op pagina blijven
        div(class="input-group")
            input(type="submit" class="btn btn-success" value="Aanmaken")

    
    body
        br
        div(class="card shadow")
            div(class="card-header")
            div(id='calendar')
