extends ../layout

block content
    if success !== undefined && success === true
        p(class="alert alert-success").
            De gebruiker is succesvol ingeroosterd!
    if error !== undefined
        p(class="alert alert-danger").
            #{error}
    form(class="form" method="POST")
        div(class="input-group")
            label Gebruiker
                
                select(class="form-control" name="user_id" disabled= editing !== undefined ? true : false)

                    each list_user in user_list
                        if user !== undefined && list_user.id === user.user_id
                            option(value=list_user.id selected) #{list_user.firstname} #{list_user.lastname}
                        else
                            option(value=list_user.id) #{list_user.firstname} #{list_user.lastname}
        div(class="input-group")
            label Begin datum en tijd
                input(class="form-control" type="datetime-local" name="begin_date" value=user !== undefined ? user.begin_date : '')
        div(class="input-group")
            label Eind datum en tijd
                input(class="form-control" type="datetime-local" name="end_date" value=user !== undefined ? user.end_date : '')
        div(class="input-group")
            label Commentaar
                textarea(class="form-control" name="comment")
                   | !{user !== undefined ? user.comment : ''}
        div(class="input-group")
            if editing === undefined
                div(class="col custom-control custom-switch") 
                    input(type="checkbox" class="custom-control-input " name="stay_on_page" id="stay_on_page" checked)                    
                    label(class="custom-control-label" for="stay_on_page") Op pagina blijven
        div(class="input-group")
            input(type="submit" class="btn btn-success" value="Aanmaken")
    br
     
    div(class="table-responsive ")  
            table(class="table table-sm")
                thead(class="thead-tertiary")
                    tr
                        th(class="col-xs-1" scope="col" colspan="10") Beschikbaarheid
                    tr
                        th(class="col-xs-1" scope="col" colspan="3") Naam
                        th(class="col-xs-1" scope="col") Maandag
                        th(class="col-xs-1" scope="col") Dinsdag 
                        th(class="col-xs-1" scope="col") Woensdag 
                        th(class="col-xs-1" scope="col") Donderdag
                        th(class="col-xs-1" scope="col") Vrijdag
                        th(class="col-xs-1" scope="col") Zaterdag
                        th(class="col-xs-1" scope="col") Zondag
                tbody 
                    each item in availability
                        tr  
                            td(colspan="3")
                                label #{item.firstname} #{item.middlename} #{item.lastname}
                            td
                                label #{item.monday == ""? "Niet": item.monday}
                            td
                                label #{item.tuesday == ""? "Niet": item.tuesday}
                            td
                                label #{item.wednesday == ""? "Niet": item.wednesday}
                            td
                                label #{item.thursday == ""? "Niet": item.thursday}
                            td
                                label #{item.friday == ""? "Niet": item.friday}
                            td
                                label #{item.saturday == ""? "Niet": item.saturday}
                            td
                                label #{item.sunday == ""? "Niet": item.sunday} 