div(class="card shadow dashboard-timetable dayoff-requests")
    div(class="card-header bg-tertiary " role="button"  data-toggle="collapse" data-target="#collapseRequests"  aria-controls="collapseRequests" aria-expanded="true")
        h3 Vrijedagen aanvragen
            i(class="fa fa-bell" style="position: absolute;right: 28px;top: 16px;")
    div(class="collapse show" id="collapseRequests" )
        div(class="card-body")
            div(class="table-responsive")
                table(class="table table-hover table-sm")
                    thead(class="bg-secondary")
                        tr
                            th(scope="col") Aanvraag datum
                            th(scope="col") Medewerker
                            th(scope="col") Van
                            th(scope="col") Tot
                            th(scope="col") Reden
                            th(scope="col") Status
                            th(scope="col") Commentaar
                            th(scope="col")  
                            th(scope="col")  
                
                    tbody
                        if(dayoffRequests !== [])
                            each request in dayoffRequests  
                                - week_left = request.week_left && request.status == "EVALUATING"?"table-danger":""
                                - popovercontent = "<p>Uur loon:  &euro;" + request.salary 
                                - popovercontent += "<p>Contract uren: " + request.contract_hours 
                                - popovercontent += "<p>Email: " + request.email 
                                - popovercontent += "<p>Telefoon: " + request.phone_number   

                                                
                                    tr(class=""+week_left id="dayoff-request-"+request.id) 
                                            th(scope="col" )  #{request.creation_date}
                                            th(scope="col" )    
                                                a( role="button" data-toggle="popover" data-trigger="hover" data-placement="right"  title=""+request.firstname+" "+request.middlename+" "+request.lastname  data-html='true' data-content=popovercontent data-template='<div class="popover" role="tooltip"><div class="arrow"></div><h3 class="popover-header popover-header-primary"></h3><div class="popover-body"></div></div>') #{request.firstname} #{request.middlename} #{request.lastname}
                                            th(scope="col" )  #{request.from}
                                            th(scope="col" )  #{request.till}
                                            th(scope="col" )  #{request.reason}
                                            th(scope="col" )  
                                                case request.status
                                                        when "EVALUATING" 
                                                            p(class="text-dark") In afwachting
                                                        when "APPROVED" 
                                                            p(class="text-success") Goedgekeurd
                                                        when "DENIED" 
                                                            p(class="text-danger") Afgekeurd
                                            th(scope="col" ) 
                                                if request.status == "EVALUATING" && !(userInfo.id == request.userId) && !(userInfo.role == request.role) && !(userInfo.role == "MANAGER" && request.role == "OWNER") 
                                                    input(class="form-control " placeholder="(Optioneel) Vul in" id="status-comment-dayoff-"+request.id)
                                                else
                                                    p #{request.status_comment}
                                            if request.status == "EVALUATING"
                                                if userInfo.id == request.userId || userInfo.role == request.role || (userInfo.role == "MANAGER" && request.role == "OWNER")
                                                    th(scope="col" )
                                                            button(class="btn btn-success btn-sm accept-dayoff-request-btn" disabled ) Goedkeuren
                                                    th(scope="col" ) 
                                                            button( class="btn btn-danger btn-sm deny-dayoff-request-btn" disabled ) Afkeuren
                                                else
                                                    th(scope="col" )
                                                            button(class="btn btn-success btn-sm accept-dayoff-request-btn" id=""+request.id) Goedkeuren
                                                    th(scope="col" ) 
                                                            button( class="btn btn-danger btn-sm deny-dayoff-request-btn" id=""+request.id) Afkeuren
                                            else
                                                th(scope="col")  
                                                th(scope="col")  
                                                            
                            else
                                tr
                                    th(scope="col" colspan="10") Geen aanvragen bekend
